.container {
	height: 100%;
	background-color: rgb(42, 41, 41);
	color: slategray;
	margin: 0 0.5rem;
	border-radius: 1rem;
	padding: 1rem 3rem 5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow-y: hidden;
}

.chatDisplayContainer {
	background-color: black;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 2rem;
}

.messagesDisplayContainer {
	background-color: black;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	border-radius: 1rem;
}

.messagesDisplayContainer::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.chatInputContainer {
	height: 3rem;
	margin: 2rem 2rem;
	border-radius: 1rem;
	border: 1px solid white;
	display: flex;
	align-items: center;
}

.chatInput {
	background-color: black;
	height: 2rem;
	margin-left: 1rem;
	border-radius: 1rem;
	border: none;
	width: 90%;
	color: white;
	font-size: 14px;
}

.chatInput:focus {
	outline: none;
}
