.container {
	width: 30rem;
	min-width: 20rem;
	height: 100%;
	background-color: rgb(42, 41, 41);
	color: slategray;
	border-radius: 1rem;
	padding: 1rem;
	/* margin-top: 2rem; */
	overflow-x: visible;
	overflow-y: scroll;
	position: relative;
	z-index: 3;
	scrollbar-width: none;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchButton {
	font-weight: bold;
	margin-right: 0.5rem;
}

.searchButton:hover {
	cursor: pointer;
	color: rgb(185, 184, 184);
}
.navLink {
	display: flex;
	/* align-items: center; */
}

.navLink h3 {
	margin: 0;
	padding: 0;
	margin-left: 1rem;
}

.friendListDisplayContainer {
	position: relative;
	display: flex;
	flex-direction: column;
}

.friendDisplayContainer {
	position: relative;
	display: flex;
}
.friendDisplay {
	display: flex;
	align-items: center;
	padding: 0.25rem 1rem;
	border-radius: 10px;
	width: 90%;
}

.friendDisplay:hover {
	color: white;
	cursor: pointer;
	background-color: rgb(72, 71, 71);
	transition: all 0.5s ease;
}

.friendsName {
	margin-left: 1rem;
}

.friendImg {
	border-radius: 50%;
}

.friendDisplayModal {
	visibility: hidden;
	position: absolute;
	width: 200px;
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	z-index: 5;
	top: 100%;
	overflow: visible;
}

.friendDisplayContainer:hover .friendDisplayModal {
	visibility: visible;
	transition: 1s ease-in 0.5s ease-out;
}

.friendDisplayTop {
	display: flex;
}
.friendDisplayBottom {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.friendDisplayBottom a {
	text-decoration: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.profileButton {
	border: 1px solid black;
}

.chatButton {
	background-color: lightblue;
	margin-top: 0.5rem;
}

@media (max-width: 1350px) {
	.container {
		display: none;
	}
}
