html,
body,
* {
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* background-color: black; */
	/* width: 100vw; */
}

html,
body {
	padding: 0;
	margin: 0;
	/* padding-left: 200px; */
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* img {
	max-width: 100%;
	height: auto;
} */

@media screen and (min-width: 1700px) {
	html {
		background-color: black;
	}
	body {
		max-width: 1700px;
	}
	/* hide it elsewhere */
}
