.container {
	height: calc(100vh - 1rem);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	/* padding: 1.5rem 0.5rem; */
	/* position: relative; */
}

.sidebarContainer {
	z-index: 5;
}

.newsfeedContainer {
	z-index: 3;
}

.friendsListContainer {
	z-index: 7;
}

.playerContainer {
	z-index: 10;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0 0 1rem;
	line-height: 1.15;
	font-size: 3.6rem;
}

.title {
	text-align: center;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.logo {
	height: 1em;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
