.container {
	height: calc(100vh - 1rem);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 1.5rem 0.5rem;
}

/* .sidebarContainer {
	max-width: 40rem;
	height: 100%;
} */

.newsfeedContainer {
	width: 100%;
	min-width: 650px;
	max-width: 950px;
	height: 100%;
	margin: 0 0.5rem;
	display: flex;
	/* overflow-y: scroll; */
	flex-direction: column;
	scrollbar-width: none;
}

.friendsListContainer {
	/* width: 30rem; */
	max-width: 30rem;

	height: 100%;
	background-color: rgb(42, 41, 41);
	color: slategray;
	border-radius: 1rem;
	padding: 1rem;
	/* margin-top: 2rem; */
	overflow-x: visible;
	overflow-y: scroll;
	position: relative;
	z-index: 3;
}

.playerContainer {
	display: flex;
	width: 100%;
	background-color: black;
	position: absolute;
	z-index: 5;
	bottom: 0;
	height: 6rem;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1rem 1rem 1rem;
}

@media (max-width: 1000px) {
	.sidebarContainer {
		display: none;
	}
}
