.profileContainer {
	height: 100%;
	background-color: rgb(42, 41, 41);
	color: slategray;
	margin: 0 0.5rem;
	border-radius: 1rem;
	padding: 1rem 5rem 5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	/* overflow-y: scroll; */
	/* scrollbar-width: none; */
}

.profilePicture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.profileName {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.profileBio {
	font-size: 16px;
	color: #666;
}

.profilePageContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.profileOptionButtonsWrapper {
	height: 3rem;
	border-radius: 2rem;
	padding-left: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profileDeleteButton {
	background-color: rgb(227, 34, 34);
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.profileOptionButton {
	background-color: black;
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

.profileOptionButton label {
	text-decoration: none;
	background-color: black;
	text-align: center;
	display: flex;
	padding: 1rem;
	border-radius: 2rem;
	font-weight: bold;
	color: white;
}

.profileOptionButton input {
	visibility: hidden;
	width: 0;
	margin: -0.5rem;
}

.profileOptionButton input:checked + label {
	background-color: rgb(117, 117, 216);
}

.profileDisplayContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	overflow-y: scroll;
	scrollbar-width: none;
}

.profileDisplayContainer::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.placeholderSearchResults {
	margin: 25% auto;
}
