.searchContainer {
	height: 100%;
	background-color: rgb(42, 41, 41);
	color: slategray;
	margin: 0 0.5rem;
	border-radius: 1rem;
	padding: 1rem 5rem 5rem;
	display: flex;
	flex-direction: column;
}
.searchNav {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
	background-color: rgb(42, 41, 41);
	color: slategray;
	padding-bottom: 2rem;
}

.searchNavInputWrapper {
	background-color: black;
	height: 3rem;
	border-radius: 2rem;
	width: 90%;
	padding-left: 2rem;
	display: flex;
	align-items: center;
}

.searchNavInput {
	background-color: black;
	border: none;
	margin-left: 1rem;
	width: 90%;
	color: white;
	font-size: 14px;
}
.searchNavInput:focus {
	outline: none;
}

.searchNavInput::placeholder {
	color: white;
}

.searchNavButtons {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchNavButtons h3 {
	margin-top: 2rem;
}

.searchNavButtons label {
	text-decoration: none;
	background-color: black;
	text-align: center;
	display: flex;
	padding: 1rem;
	border-radius: 2rem;
	font-weight: bold;
	color: white;
}

.searchNavButtons input {
	visibility: hidden;
	width: 0;
}

.searchNavButtons input:checked + label {
	background-color: rgb(117, 117, 216);
}

.searchResultContainer {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
}

.searchResultContainer::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.placeholderSearchResults {
	margin: 25% auto;
}

@media (max-width: 600px) {
	.searchContainer {
		width: 100vw;
		/* overflow: hidden; */
		/* padding: 0; */
		margin: 0;
		align-items: center;
		padding-right: 0;
		/* justify-content: center; */
	}
	.searchNavInputWrapper {
		width: 350px;
		margin-left: 3rem;
	}

	.searchNavInput {
		width: 250px;
	}

	.searchResultContainer {
		margin-left: 1.15rem;
	}
}
