.shareCardContainer {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	padding: 2rem;
	margin-bottom: 1.5rem;
	/* margin-left: auto;
	margin-right: auto; */
	background-color: black;
	/* min-width: 550px; */
	overflow-x: visible;
	position: relative;
}

.shareCardContainer h4 {
	margin-top: 0;
}
.shareCardTop {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.shareCardDetails {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.shareCardDetails h4,
.shareCardDetails p {
	margin: 0;
}

.shareCardBottom {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin-top: 1rem;
	margin-left: 1rem;
}

.shareCardActions {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.shareCardActions p {
	margin-left: 0.5rem;
}

.shareCardActions:hover {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(185, 184, 184);
}

.shareArtistCard,
.shareAlbumCard {
	background-color: rgba(75, 76, 77, 0.9);
	margin: 1rem auto;
	border-radius: 0.5rem;
	padding: 1.5rem;
	width: 350px;
}

.shareArtistImage {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 50%;
}

.shareAlbumImage {
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}

.shareArtistDetails h2,
.shareArtistDetails p,
.shareAlbumDetails h2,
.shareAlbumDetails p {
	margin: 0 0 0.5rem;
	color: white;
}

.removeBtnContainer {
	overflow-x: visible;
}
.removeShareContainer {
	position: absolute;
	right: 2rem;
	top: 1.5rem;
}

.removeShare:hover {
	cursor: pointer;
	color: white;
	transition: all 0.5s ease;
}

.removeShareBtn {
	position: absolute;
	right: 0;
	top: 1.5rem;
	color: black;
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 0.5rem;
	overflow: visible;
	font-size: 14px;
	width: fit-content;
	white-space: nowrap;
	z-index: 1;
	visibility: hidden;
}

.removeShareBtn:hover {
	cursor: pointer;
}

.removeShareContainer:hover .removeShareBtn {
	visibility: visible;
	transition: 0.5s ease-in 2s ease-out;
}

@media (max-width: 600px) {
	.shareCardContainer {
		width: 100vw;
	}

	.removeShare,
	.shareCardActions > p {
		display: none;
	}

	.shareCardContainer {
		padding: 2rem 1rem;
	}
}
