.sidebarContainer {
	width: 40rem;
	min-width: 25rem;
	height: 100%;
}

.placeholder {
	height: 100px;
	margin-bottom: 1rem;
	padding-left: 1rem;
}

.pfpImgContainer {
	display: flex;
	position: relative;
}

.modalBtn {
	/* border: 1px solid black; */
	padding: 0.5rem;
	border-radius: 1rem;
}
.modalBtn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.pfpImg {
	border-radius: 50%;
	z-index: 5;
	position: absolute;
}

.logoImg {
	display: flex;
	margin-left: 75px;
	position: absolute;
	top: -50px;
}

.navLink {
	display: flex;
	margin: 1rem;
}

.navLink:hover {
	color: white;
	cursor: pointer;
	transition: all 0.5s ease;
}

.navLink h3 {
	margin: 0;
	padding: 0;
	margin-left: 1rem;
}

.sidebarContainerTop {
	margin-bottom: 1rem;
	color: slategray;
	border-radius: 1rem;
	background-color: rgb(42, 41, 41);
	padding: 0.5rem 1rem;
}
.sidebarContainerBottom {
	color: slategray;
	border-radius: 1rem;
	padding: 1rem;
	background-color: rgb(42, 41, 41);
}
.sidebarContainerBottomHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1.5rem;
}

.addButtonContainer {
	display: flex;
	position: relative;
}
.addButton:hover {
	color: white;
	cursor: pointer;
	transition: all 0.5s ease;
}

.addButtonText {
	visibility: hidden;
	width: 120px;
	background-color: rgb(19, 19, 19);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.addButtonContainer:hover .addButtonText {
	visibility: visible;
	transition: all 0.5s ease;
}

.favoritesContainer {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border-radius: 10px;
	/* padding: 0.5rem; */
}
.favoritesContainer h3 {
	margin: 0;
	vertical-align: middle;
}

.favIconContainer {
	margin: 0;
	padding: 0;
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	background-image: linear-gradient(to right, teal, rgb(0, 94, 255));
}

.favIcon {
	margin: auto;
}

.playlistDisplay {
	display: flex;
	align-items: center;
	padding: 0.25rem 1rem;
	border-radius: 10px;
	padding: 0.5rem;
}

.playlistDisplay:hover {
	color: white;
	cursor: pointer;
	background-color: rgb(72, 71, 71);
	transition: all 0.5s ease;
}

.playlistDetails {
	margin-left: 1rem;
}

.playlistDetails p {
	margin: 0;
	padding: 0;
}

.playlistName {
	color: white;
}

.playlistOwner {
	font-size: 14px;
}

@media (max-width: 1000px) {
	.navLink h3,
	.playlistDetails,
	.addButtonContainer {
		display: none;
	}

	.navLinkIcon {
		width: 35px;
		height: 30px;
	}

	.sidebarContainer {
		width: 100px;
		min-width: 100px;
	}
}
