.songCardContainer {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	padding: 2rem;
	margin-top: 1.5rem;
	background-color: black;
}

.songCardTop {
	display: flex;
	align-items: center;
}

.songCardDetails {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.songCardDetails h4,
.songCardDetails p {
	margin: 0;
}

.songCardBottom {
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.songCardActions {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.songCardActions p {
	margin-left: 0.5rem;
}

.songCardActions:hover {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(185, 184, 184);
}
