.mainContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	/* margin: auto; */
	background-color: rgb(42, 41, 41);
	overflow: hidden;
}

.imgContainer {
	width: 1425px;
	height: 940px;
	display: flex;
	/* position: relative; */
}

.mainImage {
	object-fit: cover;
	left: 0;
}

.spotifyLoginBtnContainer {
	width: 35%;
	display: flex;
	align-items: center;
}

.spotifyLoginBtn {
	background-color: green;
	color: white;
	font-weight: bold;
	display: flex;
	width: fit-content;
	padding: 1rem;
	border-radius: 2rem;
	margin: auto;
	/* margin-top: 25rem; */
}

.spotifyLoginBtn:hover {
	cursor: pointer;
}
